<h1>Your wonderful recipe is here</h1>
<h3><%= @recipe.name %></h3>
<h3><%= @recipe.content %></h3>

<p>Tags for this recipe:</p>
<ul>
  <% @recipe.tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>

<a data-method="get" href="/recipes/update/<%= @recipe.id %>"><button class="btn btn-primary"> Update recipe</button></a>

<p><a href="/recipes/<%= @recipe.id %>"
  data-confirm="Are you sure you want to delete this recipe?"
  data-method="delete"
  rel="nofollow">Delete</a></p>
<a href="/recipes">Return to the main menu</a>
